extends templates/master

mixin field(title,id,type)
    -var type = type || 'text';
    fieldset
        label(for=id)= title
        -if (type === 'textarea')
            textarea(id=id)
        -else if(type === 'text')
            input(type=type, id=id)
        -else
            input(type=type)

append content
    p.centered.
        Anonymously share your story. Help the world understand.
    form.storyform
        h2 My story
        fieldset.storyform-chapter
            legend Story chunk
            +field('At this place','location')
            +field('I experienced','text', 'textarea')
            +field('Views and advice I\'d like to share', 'view','textarea')
            a.storyform-addchapter.btn(role='button' href='#')
                span.fontawesome-book add another chapter
    .storyform-actions
        button.btn.btn-prominent(type='submit', id='submit') Submit your story
append scripts
    script(src="./static/scripts/form.js")
    script(src='./static/scripts/app.js')

