extends templates/master

mixin field(title,type)

    -var id = title.replace(' ','-').toLowerCase();
    -var type = type || 'text';
    fieldset
        label(for=id)= title
        -if (type === 'textarea')
            textarea(id=id)
        -else if(type === 'text')
            input(type=type, id=id)
        -else
            input(type=type)

append content
    h2 Tell your story
    p.
        Intro text
    form.storyform
        h3 Right now I'm&hellip;
        fieldset
            legend Story chunk
            +field('My location')
            +field('Text')
            +field('View','textarea')
            a(role='button' href='#') Add another chapter
        button(type='submit') Submit your story

