extends templates/master

mixin field(title,type)

    -var id = title.replace(' ','-').toLowerCase();
    -var type = type || 'text';
    fieldset
        label(for=id)= title
        -if (type === 'textarea')
            textarea(id=id)
        -else if(type === 'text')
            input(type=type, id=id)
        -else
            input(type=type)

append content
    p.
        A framework for qualitive story and solution
        sharing on Global Goals: Gender Equality edition.
    form.storyform
        h2 Make my story
        fieldset.storyform-chapter
            legend Story chunk
            +field('Location')
            +field('Text', 'textarea')
            +field('View','textarea')
            a.storyform-addchapter.btn(role='button' href='#')
                span add another chapter
    .storyform-actions
        button.btn.btn-prominent(type='submit', id='submit') Submit your story

